.paper {
  aspect-ratio: 210 / 297;
  background-color: white;
  border-width: 2px;
  border-color: black;
}

.primaryButton {
  background-color: #dc9777;
  color: white;
}

.secondaryButton {
  background-color: #DC778A;
  color: white;
}

.paperA4Portrait {
  aspect-ratio: 0.7071;
  background-color: white;
  border: 1px solid #e0e0e0;
}

.paperA4Landscape {
  aspect-ratio: 1.4142;
  background-color: white;
  border-width: 2px;
  border-color: black;
}

.square {
  aspect-ratio: 1;
  background-color: white;
  border-width: 2px;
  border-color: black;
}

.child {
  aspect-ratio: 210 / 297;
  width: 10px;
  background: rgb(183, 236, 218);
  border-width: 1px;
  border-color: black;
}

.childBorder {
  background: rgb(138, 235, 202);
  border-width: 1px;
  border-color: black;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}